:root{
	--button: #9FC4D0;
	--background: #ECECEC;
	--text: #455459;
}
.GlobalCTN{
	width: 40em;
	height: 100%;
}
.Title_Text{
	text-align: center;
	font-size: 23px;
	background: var(--background);
	padding: 20px;
	font-family: Roboto;
	border-radius: 20px 20px 0 0;
	color: var(--text);
}
.Form{
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	gap: 1em;
	background: var(--background);
	padding: 16px;
	border-radius: 0px 0px 20px 20px;
	margin-top: -53px;
}
.Form_Input{
	font-size: 0.9em;
	font-family: Roboto;
	width: 15em;
	height: 2.3em;
	padding: 0.6em;
	border: none;
}
.Form_Img{
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 0.5em 0 0 -2em;
}
.Select{
	display: flex;
	width: 100%;
	gap: 2em;
	margin: 2em 0 0 0;
}
.Select_Group{
	width: 100%;
	background: white;
	padding: 1em;
}
.Select_Input{
	width: 100%;
	font-size: 0.9em;
	color: var(--text);
	appearance: none;
	border: none;
}
.Select_Img{
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 0 0 0 -1.4em;
}
.Button_Group{
	display: flex;
	margin: 1.6em 0 0 0;
}
.Button{
	color: var(--text);
	background: var(--button);
	width: 10em;
	border: none;
	border-radius: 2em;
	padding: 1em;
}
.Button:hover{
	cursor: pointer;
}
.File{
	border: none;
}
.File_Input{
	border-radius: 20em;
	background: white;
}