:root{
	--background: rgb(236, 236, 236);
	--text: rgb(69, 84, 89);
}
.Container{
	width: 40em;
	height: 30em;
}
.Title{
	display: flex;
	justify-items: center;
	align-content: center;
	background: var(--background);
	border-radius: 20px;
}
.Title_Text{
	text-align: center;
	font-size: 23px;
	background: var(--background);
	padding: 20px;
	font-family: Roboto;
	border-radius: 20px 20px 0 0;
	color: var(--text);
}
.Form{
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	gap: 1em;
	background: var(--background);
	padding: 16px;
	border-radius: 0px 0px 20px 20px;
	margin-top: -53px;
}
.Form_Group{
}
.Form_Input{
	font-family: Roboto;
	width: 15em;
	height: 2.3em;
	padding: 0.6em;
	border: none;
}
.Form_Img{
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 0.5em 0 0 -2em;
}